.domains-d-activite {
  /* border: 1px solid gray; */
  background: #fff;
}

.domains-d-activite .content h1 {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #000;
  line-height: 0.1em;
  margin: 60px 0px -10px;
}
.domains-d-activite .content h1 span {
  background: #fff;
  padding: 0 10px;
  font-family: "Proza Libre";
  font-weight: 700;

}

#explore-section span {
  font-family: "Open Sans";
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 0px;
    align-items: normal;
    color: black;
}