.top-header {
  background-color: #755a87;
  height: 50px;
}
.top-header a {
  color: white;
}
.top-header a:hover {
  color: black;
  text-decoration: none;
}

.nav-icon {
  vertical-align: middle;
  padding-bottom: 4px;
}

.navbar {
  padding: .1rem 1rem!important;
}