.block-header .content h1 {
  text-align: center;
  border-bottom: 1px solid #000;
  line-height: 0.1em;
  margin: 60px 0px -10px;
}
.block-header .content h1 span {
  background: #dedcdc;
  padding: 0 10px;
  font-family: "Proza Libre";
  font-weight: 700;
}

.block-header {
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0px;
  color: rgb(0, 0, 0);
  vertical-align: middle;
  justify-content: flex-start;
  transform: translate(0px, -2.8px);
  line-height: 30px;
}
/* .services-top-container {
    text-align: center;
  } */
