:root {
  --color-violet: #755a87;
}

.navbar-brand-section img {
  width: auto;
  margin-top: 10px;
}

.navbar-light .navbar-text {
  color: black;
  margin-top: -20px;
  margin-left: 16px;
}

.nav-items-link a {
  text-transform: uppercase;
  text-align: center;
  padding: 20px;

  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 700;
  margin-left: 15px;
}

/* Small devices (tablets, 768px and up) */
@media (max-width: 575px) {
  .nav-items-link a {
    border-bottom: 1px solid var(--color-violet);
  }

  .nav-items-link a:hover {
    background-color: var(--color-violet);
    color: white!important;
   }
}


/* .navbar-light .navbar-text {
  color: rgb(0, 0, 0);
} */

.navbar-brand-section span,
.navbar-brand-section a {
  font-family: "Proza Libre";
  font-size: 16px;
  font-weight: 800;
  letter-spacing: 0px;
  color: rgb(0, 0, 0);
  vertical-align: middle;
  justify-content: flex-start;
}

.nav-link:hover
{
  color: var(--color-violet)!important;
}

.navbar-light .navbar-nav .nav-link {
  color: black;
}