.navbar-brand-section img {
  width: auto;
}
.nav-items-link a,
.nav-item .nav-link {
  text-transform: uppercase;
}


.navbar-light .navbar-text
{
  color: rgb(0, 0, 0);
}


.navbar-brand-section span,
.navbar-brand-section a {
  font-family: "Proza Libre";
  font-size: 16px;
  font-weight: 800;
  letter-spacing: 0px;
  color: rgb(0, 0, 0);
  vertical-align: middle;
  justify-content: flex-start;
  
}
